//font-family: 'Roboto', sans-serif;
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/Users/imac/Desktop/axio/portfolio24/isimemen/src/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('/Users/imac/Desktop/axio/portfolio24/isimemen/src/assets/fonts/Roboto-Regular.ttf') format('ttf');

}