{% block footer %}
  <footer class="footer ">
    <div class="footer__content container">
      <div class="footer__header">
        <h6 class="h6 footer__header--message">Sign up if you want pure gold in your inbox.</h6>
      </div>
      <div class="footer__links">
        <nav class="nav-footer">
          <ul class="nav-footer__block">
            <h6 class="h6 nav-footer--title">company</h6>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">About</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Fulfilled Coaching Program</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Client Wins</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Press &#38; Media</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Privacy</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Terms &#38; Conditions</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link alink-nav">Brand Design by Provoke</a>
            </li>
          </ul>
          <p class="footer__copyright">Copy &#169; axiOman 2024</p>
        </div>

      </div>
    </footer>
  {% endblock %}